<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/carsfavicon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
    <h1>Cars</h1>
    <img src="/images/car1.jpg" alt="car1">
    <img src="/images/car2.jpg"  alt="car2">
    <img src="/images/car3.jpg"  alt="car3">
    <a href="/cats">Click here to see cats</a>
    <a href="/cars/new">click here to add a new car!</a>
</body>
</html>